    /******************************************************************
  website Name: JOBSEARCH
  Description: JOBSEARCH eCommerce HTML website
  Author: jobsearchenglish
  Author URI: https://jobsearchenglish.com/
  Version: 1.0
  Created: jobsearchenglish
******************************************************************/
    /*------------------------------------------------------------------
[Table of contents]

1.  website default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Banner Section
6.  Deal Of The Week
7.  Latest Blog
8.  Logo Carousel
9.  Contact
10.  Footer

-------------------------------------------------------------------*/
    /*----------------------------------------*/
    /* website default CSS
/*----------------------------------------*/
    
    html,
    body {
        height: 100%;
        font-family: 'Poppins', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: #111111;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }
    
    h1 {
        font-size: 70px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    h6 {
        font-size: 16px;
    }
    
    p {
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        color: #636363;
        font-weight: 400;
        line-height: 26px;
        margin: 0 0 15px 0;
    }
    
    img {
        max-width: 100%;
    }
    
    input:focus,
    select:focus,
    button:focus,
    textarea:focus {
        outline: none;
    }
    
    a:hover,
    a:focus {
        text-decoration: none;
        outline: none;
        color: #fff;
    }
    
    ul,
    ol {
        padding: 0;
        margin: 0;
    }
    /*---------------------
  Helper CSS
-----------------------*/
    
    .section-title {
        margin-bottom: 40px;
        text-align: center;
    }
    
    .section-title .comment-name {
        font-size: 24px;
        font-weight: 600;
        color: #e7ab3c;
    }
    
    .section-title .comment-name span {
        font-size: 16px;
        font-weight: 400;
        color: #636363;
    }
    
    .section-title h2 {
        color: #252525;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 38px;
        position: relative;
    }
    
    .section-title h2:before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -14px;
        width: 80px;
        height: 3px;
        background: #f44336;
        content: "";
        margin: 0 auto;
    }
    
    .section-title.comment-title h2:before {
        position: absolute;
        left: 1px;
        right: auto;
        bottom: -14px;
        width: 80px;
        height: 3px;
        background: #f44336;
        content: "";
        margin: 0 auto;
    }
    
    .section-title p {
        color: #6e6e6e;
    }
    
    .set-bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    
    .spad {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .text-white h1,
    .text-white h2,
    .text-white h3,
    .text-white h4,
    .text-white h5,
    .text-white h6,
    .text-white p,
    .text-white span,
    .text-white li,
    .text-white a {
        color: #fff;
    }
    /* buttons */
    
    .primary-btn {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 30px;
        color: #ffffff;
        background: #F44336;
        text-transform: uppercase;
        border-radius: 5px;
        border: 1px solid #F44336;
        transition: .3s;
    }
    
    .primary-btn:hover {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 30px;
        color: #F44336;
        background: rgb(255, 255, 255);
        text-transform: uppercase;
        border-radius: 5px;
        border: 1px solid #F44336;
        transition: .3s;
    }
    
    ul.nav-right a {
        display: inline-block;
        font-size: 13px;
        font-weight: 200;
        color: #ffffff;
        background: #F44336;
        text-transform: uppercase;
        border-radius: 5px;
        border: 1px solid #F44336;
        padding: 6px 20px;
        transition: .3s;
    }
    
    ul.nav-right a:hover {
        display: inline-block;
        font-size: 13px;
        font-weight: 200;
        padding: 6px 20px;
        color: #F44336;
        background: rgb(255, 255, 255);
        text-transform: uppercase;
        border-radius: 5px;
        border: 1px solid #F44336;
        transition: .3s;
    }
    
    ul.navbar-nav.mr-auto.main-nav .nav-item {
        /* background-color: bisque; */
        background: none;
        color: #F44336;
    }
    
    ul.navbar-nav.mr-auto.main-nav .nav-item a {
        color: #F44336;
        font-weight: 600;
        transition: .3s;
    }
    
    li.nav-link a {
        color: #F44336;
        font-weight: 600;
        transition: .3s;
    }
    
    ul.navbar-nav.mr-auto.main-nav .nav-item a:hover {
        color: #444444;
        font-weight: 600;
        transition: .3s;
    }
    
    li.nav-link a:hover {
        color: #444444;
        font-weight: 600;
        transition: .3s;
    }
    
    header.header-section {
        background-color: white;
    }
    
    .site-btn {
        color: #ffffff;
        background: #e7ab3c;
        border: 1px solid #e7ab3c;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 13px 45px 11px;
        cursor: pointer;
    }
    /* Preloder */
    
    #preloder {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999;
        background: #000;
    }
    
    .loader {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -13px;
        margin-left: -13px;
        border-radius: 60px;
        animation: loader 0.8s linear infinite;
        -webkit-animation: loader 0.8s linear infinite;
    }
    
    @keyframes loader {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            border: 4px solid #f44336;
            border-left-color: transparent;
        }
        50% {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            border: 4px solid #673ab7;
            border-left-color: transparent;
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            border: 4px solid #f44336;
            border-left-color: transparent;
        }
    }
    
    @-webkit-keyframes loader {
        0% {
            -webkit-transform: rotate(0deg);
            border: 4px solid #f44336;
            border-left-color: transparent;
        }
        50% {
            -webkit-transform: rotate(180deg);
            border: 4px solid #673ab7;
            border-left-color: transparent;
        }
        100% {
            -webkit-transform: rotate(360deg);
            border: 4px solid #f44336;
            border-left-color: transparent;
        }
    }
    /*---------------------
  Header
-----------------------*/
    
    .ht-right .lan-selector {
        max-width: 142px;
        cursor: pointer;
        display: inline-block;
        position: relative;
    }
    
    .ht-right .lan-selector .ddcommon {
        max-width: 142px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline: none;
        cursor: pointer;
        padding: 0 20px;
    }
    
    .ht-right .lan-selector .ddcommon .ddTitle .ddTitleText img {
        padding-right: 5px;
    }
    
    .ht-right .lan-selector .ddcommon .ddTitle .ddTitleText span {
        font-size: 14px;
        color: #252525;
    }
    
    .ht-right .lan-selector .ddcommon .ddTitle .ddArrow:before {
        content: "3";
        font-family: "ElegantIcons";
        font-size: 14px;
        color: #636363;
        float: right;
        position: relative;
        right: 0;
        line-height: 26px;
    }
    
    .ht-right .lan-selector .ddcommon .ddChild {
        background: #fff;
        max-width: 142px;
        width: 100%;
        position: relative;
        left: 0;
    }
    
    .ht-right .lan-selector .ddcommon .ddChild ul {
        width: 100%;
        max-width: 142px;
    }
    
    .ht-right .lan-selector .ddcommon .ddChild ul li {
        line-height: 23px;
        padding: 0px 10px;
        list-style: none;
    }
    
    .ht-right .lan-selector .ddcommon .ddChild ul li img {
        padding-right: 10px;
    }
    
    .ht-right .lan-selector .ddcommon .ddChild ul li span {
        font-size: 13px;
        color: #000;
        letter-spacing: 0.325px;
    }
    
    .header-top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .header-top .ht-left {
        float: left;
    }
    
    .header-top .ht-left .mail-service {
        font-size: 16px;
        color: #252525;
        float: left;
        border-right: 1px solid #E5E5E5;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 20px;
    }
    
    .header-top .ht-left .mail-service i {
        margin-right: 5px;
    }
    
    .header-top .ht-left .phone-service {
        float: right;
        font-size: 14px;
        color: #252525;
        line-height: 27px;
        padding-top: 15px;
        padding-bottom: 12px;
        padding-left: 20px;
    }
    
    .header-top .ht-left .phone-service i {
        margin-right: 5px;
    }
    
    .header-top .ht-right {
        float: right;
    }
    
    .header-top .ht-right .login-panel {
        float: right;
        font-size: 14px;
        color: #252525;
        display: inline-block;
        padding-left: 20px;
        border-left: 1px solid #e5e5e5;
        padding-top: 18px;
        padding-bottom: 15px;
    }
    
    .header-top .ht-right .login-panel i {
        margin-right: 8px;
    }
    
    .header-top .ht-right .lan-selector {
        float: right;
        margin-top: 15px;
        margin-bottom: 13px;
    }
    
    .header-top .ht-right .top-social {
        float: right;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-right: 1px solid #e5e5e5;
    }
    
    .header-top .ht-right .top-social a {
        color: #252525;
        font-size: 14px;
        display: inline-block;
        margin-left: 15px;
    }
    
    .inner-header {
        padding: 1px 0;
    }
    /* .inner-header .logo {
    padding: 12px 0;
} */
    
    .inner-header .logo a {
        display: inline-block;
    }
    
    .inner-header .advanced-search {
        height: 50px;
        border: 1px solid #ebebeb;
    }
    
    .inner-header .advanced-search .category-btn {
        max-width: 30%;
        float: left;
        background: transparent;
        border: none;
        padding-left: 23px;
        padding-top: 11px;
        padding-bottom: 13px;
        padding-right: 60px;
        font-size: 16px;
        color: #252525;
        position: relative;
    }
    
    .inner-header .advanced-search .category-btn:before {
        position: absolute;
        right: 0;
        top: 14px;
        width: 1px;
        height: 20px;
        background: #e5e5e5;
        content: "";
    }
    
    .inner-header .advanced-search .category-btn:after {
        position: absolute;
        right: 11px;
        top: 10px;
        content: "3";
        font-family: "ElegantIcons";
        font-size: 16px;
        color: #b2b2b2;
    }
    
    .inner-header .advanced-search .input-group {
        max-width: 70%;
        height: 100%;
    }
    
    .inner-header .advanced-search .input-group input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 16px;
        color: #d1d1d1;
        padding-left: 20px;
    }
    
    .inner-header .advanced-search .input-group button {
        font-size: 16px;
        color: #ffffff;
        position: absolute;
        right: -3px;
        top: -1px;
        border: 1px solid #e7ab3c;
        background: #e7ab3c;
        padding: 12px 16px 12px;
        cursor: pointer;
    }
    
    .inner-header .nav-right {
        padding: 10px 0;
        /* display: flex; */
    }
    
    .inner-header .nav-right li {
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 15px;
    }
    
    .inner-header .nav-right li.heart-icon a {
        color: #252525;
        position: relative;
        display: inline-block;
    }
    
    .inner-header .nav-right li.heart-icon a span {
        position: absolute;
        right: -8px;
        top: -1px;
        height: 15px;
        width: 15px;
        background: #e7ab3c;
        color: #ffffff;
        border-radius: 50%;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        line-height: 15px;
    }
    
    .inner-header .nav-right li.cart-icon {
        position: relative;
    }
    
    .inner-header .nav-right li.cart-icon:hover .cart-hover {
        opacity: 1;
        visibility: visible;
        top: 60px;
    }
    
    .inner-header .nav-right li.cart-icon a {
        color: #252525;
        position: relative;
        display: inline-block;
    }
    
    .inner-header .nav-right li.cart-icon a span {
        position: absolute;
        right: -8px;
        top: -1px;
        height: 15px;
        width: 15px;
        background: #e7ab3c;
        color: #ffffff;
        border-radius: 50%;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        line-height: 15px;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover {
        position: absolute;
        right: -70px;
        top: 100px;
        width: 350px;
        background: #ffffff;
        z-index: 99;
        text-align: left;
        padding: 30px;
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
        box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-items table {
        width: 100%;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td {
        padding-bottom: 20px;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-pic img {
        border: 1px solid #ebebeb;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text {
        padding-left: 18px;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text .product-selected p {
        color: #e7ab3c;
        line-height: 30px;
        margin-bottom: 7px;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text .product-selected h6 {
        color: #232530;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-close {
        color: #252525;
        font-size: 16px;
        cursor: pointer;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-total {
        overflow: hidden;
        border-top: 1px solid #e5e5e5;
        padding-top: 26px;
        margin-bottom: 30px;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-total span {
        font-size: 14px;
        color: #e7ab3c;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        float: left;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-total h5 {
        color: #e7ab3c;
        float: right;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-button .view-card {
        font-size: 12px;
        letter-spacing: 2px;
        display: block;
        text-align: center;
        background: #191919;
        color: #ffffff;
        padding: 15px 30px 12px;
        margin-bottom: 10px;
    }
    
    .inner-header .nav-right li.cart-icon .cart-hover .select-button .checkout-btn {
        font-size: 12px;
        letter-spacing: 2px;
        display: block;
        text-align: center;
        color: #ffffff;
        padding: 15px 30px 12px;
    }
    
    .inner-header .nav-right li.cart-price {
        font-size: 18px;
        font-weight: 600;
        color: #252525;
    }
    
    .nav-item {
        background: #E74C3C;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .nav-item .nav-depart {
        float: left;
    }
    
    .nav-item .nav-depart .depart-btn {
        background: #3b3b3b;
        color: #ffffff;
        padding: 14px 84px 14px 18px;
        cursor: pointer;
        position: relative;
    }
    
    .nav-item .nav-depart .depart-btn:hover .depart-hover {
        top: 52px;
        opacity: 1;
        visibility: visible;
        z-index: 99;
    }
    
    .nav-item .nav-depart .depart-btn:before {
        position: absolute;
        color: #ffffff;
        right: 20px;
        top: 13px;
        content: "";
        font-family: FontAwesome;
        font-size: 18px;
    }
    
    .nav-item .nav-depart .depart-btn i {
        color: #ffffff;
        font-size: 16px;
    }
    
    .nav-item .nav-depart .depart-btn span {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 16px;
    }
    
    .nav-item .nav-depart .depart-btn .depart-hover {
        position: absolute;
        width: 100%;
        background: #fff;
        left: 0;
        top: 62px;
        opacity: 0;
        visibility: hidden;
        padding-bottom: 29px;
        -webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
        box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .nav-item .nav-depart .depart-btn .depart-hover li {
        list-style: none;
    }
    
    .nav-item .nav-depart .depart-btn .depart-hover li.active a {
        color: #e7ab3c;
    }
    
    .nav-item .nav-depart .depart-btn .depart-hover li a {
        display: block;
        font-size: 16px;
        color: #000000;
        padding-left: 40px;
        padding-top: 16px;
        padding-right: 30px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .nav-item .nav-depart .depart-btn .depart-hover li a:hover {
        color: #e7ab3c;
    }
    
    .nav-item .nav-menu {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: relative;
        float: right;
    }
    
    .nav-item .nav-menu li {
        list-style: none;
        display: inline-block;
        margin-left: -5px;
        position: relative;
    }
    
    .nav-item .nav-menu li.active a {
        /* background: #e7ab3c; */
        color: #000;
    }
    
    .nav-item .nav-menu li a {
        font-size: 13px;
        font-weight: 600;
        display: block;
        color: #ffffff;
        /* border-right: 2px solid #ffffff; */
        text-transform: capitalize;
        padding: 16px 42px 15px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    /* a.k2-main-menu:after {
        content: '';
        position: absolute;
        right: 0;
        top: .6em;
        bottom: .6em;
        width: 2px;
        background-color: rgb(255, 255, 255);
    } */
    
    a.k2-main-menu.last-menu-item:after {
        display: none;
    }
    
    .nav-item .nav-menu li:hover>a {
        /* background: #e7ab3c; */
        color: #000;
    }
    
    .nav-item .nav-menu li:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        top: 30px;
    }
    
    .nav-item .nav-menu li .sub-menu {
        position: absolute;
        right: 0;
        top: 82px;
        width: 200px;
        z-index: 99;
        background: #252525;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .nav-item .nav-menu li .sub-menu li {
        display: block;
        margin-left: 0;
    }
    
    .nav-item .nav-menu li .sub-menu li:hover>a {
        background: transparent;
        color: #F44336;
    }
    
    .nav-item .nav-menu li .sub-menu li a {
        border-right: 0;
        padding: 13px 20px 12px 30px;
        text-transform: capitalize;
    }
    
    .slicknav_menu {
        display: none;
    }
    /*---------------------
  Hero Section
-----------------------*/
    
    .hero-items .single-hero-items {
        height: 725px;
        padding-top: 210px;
    }
    
    .hero-items .single-hero-items span {
        color: #000;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 28px;
        display: inline-block;
        position: relative;
        top: 50px;
        opacity: 0;
    }
    
    .hero-items .single-hero-items h1 {
        color: #252525;
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 6px;
        position: relative;
        top: 50px;
        opacity: 0;
    }
    
    .hero-items .single-hero-items p {
        margin-bottom: 42px;
        position: relative;
        top: 100px;
        opacity: 0;
    }
    
    .hero-items .single-hero-items .primary-btn {
        position: relative;
        top: 100px;
        opacity: 0;
    }
    
    .hero-items .off-card {
        height: 154px;
        width: 154px;
        padding-top: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 140px;
        position: absolute;
        left: 47%;
        top: 160px;
        background: #e7ab3c;
        z-index: 1;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0;
    }
    
    .hero-items .off-card:after {
        position: absolute;
        left: 5px;
        top: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border: 2px dashed #ffffff;
        content: "";
        border-radius: 50%;
        z-index: -1;
    }
    
    .hero-items .off-card h2 {
        font-size: 32px;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
    }
    
    .hero-items .off-card h2 span {
        display: block;
        font-size: 32px;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 6px;
    }
    
    .hero-items .owl-item.active .single-hero-items span,
    .hero-items .owl-item.active .single-hero-items h1,
    .hero-items .owl-item.active .single-hero-items p,
    .hero-items .owl-item.active .single-hero-items .primary-btn {
        top: 0;
        opacity: 1;
    }
    
    .hero-items .owl-item.active .single-hero-items span {
        -webkit-transition: all 0.2s ease 0.2s;
        -o-transition: all 0.2s ease 0.2s;
        transition: all 0.2s ease 0.2s;
    }
    
    .hero-items .owl-item.active .single-hero-items h1 {
        -webkit-transition: all 0.4s ease 0.4s;
        -o-transition: all 0.4s ease 0.4s;
        transition: all 0.4s ease 0.4s;
    }
    
    .hero-items .owl-item.active .single-hero-items p {
        -webkit-transition: all 0.6s ease 0.6s;
        -o-transition: all 0.6s ease 0.6s;
        transition: all 0.6s ease 0.6s;
    }
    
    .hero-items .owl-item.active .single-hero-items .primary-btn {
        -webkit-transition: all 0.8s ease 0.8s;
        -o-transition: all 0.8s ease 0.8s;
        transition: all 0.8s ease 0.8s;
    }
    
    .hero-items .owl-item.active .single-hero-items .off-card {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 1s ease 1s;
        -o-transition: all 1s ease 1s;
        transition: all 1s ease 1s;
    }
    
    .hero-items .owl-nav button[type=button] {
        font-size: 30px;
        position: absolute;
        left: 40px;
        top: 45%;
        color: #252525;
    }
    
    .hero-items .owl-nav button[type=button]:hover {
        color: #dfad51;
    }
    
    .hero-items .owl-nav button[type=button].owl-next {
        left: auto;
        right: 40px;
    }
    /*---------------------
  Banner Section
-----------------------*/
    
    .banner-section {
        padding: 80px 50px;
    }
    
    .single-banner {
        position: relative;
        z-index: 1;
    }
    
    .single-banner:hover::before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    
    .single-banner::before {
        position: absolute;
        left: 35px;
        top: 30px;
        border: 13px solid #ffffff;
        content: "";
        opacity: 0.3;
        width: calc(100% - 70px);
        height: calc(100% - 60px);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .single-banner img {
        min-width: 100%;
    }
    
    .single-banner .inner-text {
        position: absolute;
        left: 0;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
    
    .single-banner .inner-text h4 {
        color: #252525;
        font-weight: 600;
        padding: 11px 28px;
        background: #ffffff;
        border-radius: 2px;
    }
    /*---------------------
  Women Banner Section
-----------------------*/
    
    .section-title.comment-title {
        text-align: left;
    }
    
    .comment-area {
        padding-right: 65px;
        padding-left: 65px;
        padding-top: 65px;
        padding-bottom: 80px;
        background-image: url(../img/dots.png);
        background-repeat: no-repeat;
        background-position-x: 4%;
        background-position-y: 83%
    }
    
    .section-title.comment-title h2 {
        font-size: 25px;
    }
    
    .product-large {
        height: 620px;
        margin-left: -15px;
        margin-right: -15px;
        text-align: center;
        padding-top: 285px;
    }
    
    .product-large h2 {
        color: #ffffff;
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 18px;
    }
    
    .product-large a {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
        position: relative;
    }
    
    .product-large a:before {
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        background: #ffffff;
        content: "";
    }
    
    .filter-control {
        text-align: center;
        margin-bottom: 45px;
        padding-top: 32px;
    }
    
    .filter-control ul li {
        list-style: none;
        display: inline-block;
        font-size: 20px;
        color: #b2b2b2;
        margin-right: 22px;
        position: relative;
        cursor: pointer;
    }
    
    .filter-control ul li.active {
        color: #171717;
    }
    
    .filter-control ul li.active:before {
        opacity: 1;
    }
    
    .filter-control ul li:before {
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background: #171717;
        content: "";
        opacity: 0;
    }
    
    .filter-control ul li:last-child {
        margin-right: 0;
    }
    
    .comment-slider .owl-nav button[type=button] {
        font-size: 30px;
        position: absolute;
        left: -62px;
        top: 25%;
        color: #171717;
        opacity: 0.3;
    }
    
    .comment-slider .owl-nav button[type=button].owl-next {
        left: auto;
        right: -62px;
        color: #171717;
        opacity: 1;
    }
    
    .comment-slider .owl-dots {
        text-align: center;
        margin-top: 27px;
    }
    
    .comment-slider .owl-dots button {
        width: 6px;
        height: 6px;
        background: #D8D9DA;
        border-radius: 50%;
        margin-right: 10px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .comment-slider .owl-dots button:last-child {
        margin-right: 0;
    }
    
    .comment-slider .owl-dots button.active {
        width: 30px;
        background: #f44336;
        border-radius: 50px;
    }
    
    .product-item:hover .pi-pic .icon {
        top: 15px;
        opacity: 1;
    }
    
    .product-item:hover .pi-pic ul {
        bottom: 0;
    }
    
    .product-item .pi-pic {
        overflow: hidden;
        position: absolute;
        width: 70px;
        border-radius: 50px;
        top: 20px;
        left: 50px;
    }
    
    .product-item .pi-pic img {
        min-width: 100%;
    }
    
    .product-item {
        box-shadow: 0px 0px 5px #bbb;
        margin: 5px;
        padding: 20px;
        border-radius: 10px;
        margin-top: 60px;
        background: white;
    }
    
    img.coma {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 100px;
    }
    
    .product-item .pi-pic .sale {
        color: #ffffff;
        font-size: 10px;
        background: #76BC42;
        position: absolute;
        left: 0;
        top: 20px;
        padding: 5px 10px;
        text-transform: uppercase;
    }
    
    .product-item .pi-pic .sale.pp-sale {
        background: #e7ab3c;
    }
    
    .product-item .pi-pic .icon {
        font-size: 20px;
        color: #252525;
        position: absolute;
        right: 21px;
        top: -15px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0;
    }
    
    .product-item .pi-pic ul {
        position: absolute;
        left: 0;
        bottom: -52px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        text-align: center;
        width: 100%;
    }
    
    .product-item .pi-pic ul li {
        list-style: none;
        display: inline-block;
        background: #ffffff;
    }
    
    .product-item .pi-pic ul li.w-icon.active a {
        background: #e7ab3c;
        color: #ffffff;
    }
    
    .product-item .pi-pic ul li a {
        font-size: 16px;
        font-weight: 600;
        color: #252525;
        display: block;
        padding: 16px 18px 12px 19px;
    }
    
    .product-item .pi-text {
        text-align: left;
        padding-top: 26px;
    }
    
    .product-item .pi-text .catagory-name {
        font-size: 10px;
        color: #b2b2b2;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    p.comment-person {
        font-weight: 600;
        margin: 0;
        margin-top: 20px;
    }
    
    .product-item .pi-text a {
        display: block;
    }
    
    .product-item .pi-text a h5 {
        color: #252525;
    }
    
    .product-item .pi-text .comment-name {
        color: #e7ab3c;
        font-size: 20px;
        font-weight: 600;
    }
    
    .product-item .pi-text .comment-name span {
        font-size: 14px;
        font-weight: 400;
        color: #b2b2b2;
        text-decoration: line-through;
    }
    
    section.follow-s {
        background: #f44336;
        padding: 36px 0px;
        background-image: url(../img/dots2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: right;
    }
    
    .follow-us {
        text-align: center;
    }
    
    .follow-topic h2 {
        color: #ffffff;
        font-size: 25px;
        font-weight: 600;
        /* margin-bottom: 38px; */
        position: relative;
    }
    
    .follow-topic p {
        color: white;
    }
    
    button.submit-btn01 {
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 5px;
        width: 120px;
        background-color: white;
        color: #f44336;
        font-weight: 600;
        transition: .3s;
    }
    
    button.submit-btn01:hover {
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 5px;
        width: 120px;
        background-color: #686868;
        color: #fff;
        font-weight: 600;
        transition: .3s;
    }
    
    input.name-mail {
        border-radius: 20px;
        border: 1px solid #fff;
        background: transparent;
        padding: 5px;
        color: #ffffff7a;
    }
    
    input::placeholder {
        color: rgba(255, 255, 255, 0.4);
    }
    /*---------------------
  Man Banner
-----------------------*/
    
    .man-banner {
        padding-right: 65px;
        padding-left: 65px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    /*---------------------
  Latest Blog
-----------------------*/
    
    .latest-blog {
        padding-top: 30px;
        padding-bottom: 20px;
        background: #F4F5FA;
    }
    /* .course-item {
    background: #fff;
} */
    
    .latest-blog .section-title {
        margin-bottom: 55px;
    }
    
    .single-latest-course {
        margin-bottom: 25px;
        border-radius: 10px;
        text-align: left;
    }
    
    .single-latest-course img {
        min-width: 100%;
    }
    
    .course-item {
        position: relative;
    }
    
    .single-latest-course .latest-text {
        padding-top: 25px;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
    }
    
    a.course-link span {
        position: absolute;
        width: 85%;
        height: 84%;
        /* background: aquamarine; */
        /* top: 0;
    position: absolute; */
        left: 50%;
        top: 47%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .course-img {
        box-shadow: 0px 0px 10px #cecece;
        transition: .3s;
        border-radius: 10px;
    }
    
    .course-item:hover .course-img {
        box-shadow: 0px 10px 15px #c7c6c6;
        margin-top: -10px;
        transition: .3s;
    }
    
    .single-latest-course .latest-text .tag-list {
        margin-bottom: 8px;
    }
    
    .single-latest-course .latest-text .tag-list .tag-item {
        font-size: 16px;
        color: #a2a1a1;
        display: inline-block;
        margin-right: 15px;
    }
    
    section.latest-blog.spad .container {
        text-align: center;
    }
    
    .single-latest-course .latest-text .tag-list .tag-item i {
        color: #e7ab3c;
    }
    
    .single-latest-course .latest-text a {
        display: block;
    }
    
    .single-latest-course .latest-text a h4 {
        color: #252525;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 1px;
        font-size: 20px;
        color: #f44336;
        text-transform: uppercase;
    }
    
    p.courese-detail {
        margin-top: 0px;
        border-top: 1px solid #d0cfcf;
        padding-top: 10px;
    }
    
    .benefit-items {
        border: 1px solid #ebebeb;
        margin-top: 45px;
    }
    
    .benefit-items .single-benefit {
        padding-top: 30px;
        padding-bottom: 25px;
        padding-left: 55px;
        padding-right: 55px;
        border-right: 1px solid #F3F4F0;
    }
    
    .benefit-items .single-benefit .sb-icon {
        float: left;
        margin-right: 20px;
    }
    
    .benefit-items .single-benefit .sb-text {
        display: table;
    }
    
    .benefit-items .single-benefit .sb-text h6 {
        color: #252525;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .benefit-items .single-benefit .sb-text p {
        margin-bottom: 0;
        color: #252525;
        line-height: 20px;
    }
    /*---------------------
  Partner Logo
-----------------------*/
    
    .partner-logo {
        background: #303030;
        padding: 38px 0;
    }
    
    .logo-carousel .logo-item {
        display: table;
    }
    
    .logo-carousel .logo-item .tablecell-inner {
        display: table-cell;
        height: 45px;
        vertical-align: middle;
    }
    
    .owl-carousel .owl-item img {
        display: block;
        width: auto;
    }
    /*---------------------
  Footer
-----------------------*/
    
    .footer-section {
        background: #686868;
        padding-top: 30px;
    }
    
    .footer-logo a img {
        width: 200px;
    }
    
    .footer-left {
        margin-bottom: 30px;
    }
    
    .footer-left .footer-logo {
        margin-bottom: 24px;
    }
    
    .footer-left .footer-logo a {
        display: inline-block;
    }
    
    .footer-left ul li {
        list-style: none;
        color: #b2b2b2;
        font-size: 16px;
        line-height: 30px;
    }
    
    .footer-social {
        padding-top: 25px;
    }
    
    .footer-social a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background: #434445;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        margin-right: 7px;
        position: relative;
        z-index: 1;
    }
    
    .footer-social a:hover:before {
        opacity: 1;
    }
    
    .footer-social a:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #F44336;
        content: "";
        border-radius: 50%;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        z-index: -1;
    }
    
    .footer-widget {
        margin-bottom: 30px;
    }
    
    .footer-widget h5 {
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 26px;
    }
    
    .footer-widget ul li {
        list-style: none;
    }
    
    .footer-widget ul li a {
        line-height: 36px;
        font-size: 16px;
        color: #fff;
        transition: .3s;
    }
    
    footer.footer-section {
        background-image: url(../img/footer_background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .footer-left p {
        color: white;
    }
    
    .footer-widget ul li a:hover {
        font-weight: 600;
        padding-left: 5px;
        transition: .3s;
    }
    
    .newslatter-item h5 {
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 30px;
    }
    
    .newslatter-item p {
        color: #b2b2b2;
        line-height: 26px;
    }
    
    .newslatter-item .subscribe-form {
        position: relative;
    }
    
    .newslatter-item .subscribe-form input {
        color: #b2b2b2;
        background: #0000005c;
        width: 100%;
        height: 46px;
        font-size: 16px;
        border: none;
        padding-left: 20px;
    }
    
    .newslatter-item .subscribe-form input::-webkit-input-placeholder {
        color: #b2b2b2;
    }
    
    .newslatter-item .subscribe-form input::-moz-placeholder {
        color: #b2b2b2;
    }
    
    .newslatter-item .subscribe-form input:-ms-input-placeholder {
        color: #b2b2b2;
    }
    
    .newslatter-item .subscribe-form input::-ms-input-placeholder {
        color: #b2b2b2;
    }
    
    .newslatter-item .subscribe-form input::placeholder {
        color: #b2b2b2;
    }
    
    .newslatter-item .subscribe-form button {
        display: inline-block;
        color: #ffffff;
        background: #f44336;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        border: 1px solid #f44336;
        position: absolute;
        right: 0;
        top: 0;
        padding: 13px 20px 12px;
        cursor: pointer;
    }
    
    .copyright-reserved {
        border-top: 1px solid #303030;
        padding: 15px 0;
        margin-top: 10px;
        background-color: #f44336;
    }
    
    .copyright-reserved .copyright-text {
        float: left;
        font-size: 16px;
        color: #fff;
    }
    
    .copyright-reserved .copyright-text a {
        color: #fff;
    }
    
    .copyright-reserved .copyright-text i {
        color: #cc2424;
    }
    
    .copyright-reserved .copyright-text a:hover {
        color: #e7ab3c;
    }
    
    .copyright-reserved .payment-pic {
        float: right;
    }
    /*-------------------------------- Other Pages Style -------------------------------*/
    /*---------------------
  Breadcrumb
-----------------------*/
    
    .breadcrumb-text {
        border-bottom: 1px solid #ebebeb;
        padding: 15px 0;
    }
    
    .breadcrumb-text.product-more a:nth-child(1):after {
        color: #252525;
    }
    
    .breadcrumb-text a {
        display: inline-block;
        font-size: 16px;
        color: #252525;
        margin-right: 28px;
        position: relative;
    }
    
    .breadcrumb-text a:after {
        position: absolute;
        right: -18px;
        top: 0px;
        content: "";
        font-family: "FontAwesome";
        font-size: 16px;
        color: #b2b2b2;
    }
    
    .breadcrumb-text span {
        display: inline-block;
        color: #b2b2b2;
    }
    /*---------------------
  Product Shop
-----------------------*/
    /*---------------------
  Product Details
-----------------------*/
    /*---------------------
  Related Products
-----------------------*/
    /*---------------------
  Shopping Cart
-----------------------*/
    /*---------------------
  Check Out
-----------------------*/
    /*---------------------
  Blog Section
-----------------------*/
    /* --------------------------------team----------------------------- */
    
    section.team {
        padding: 30px 0px;
    }
    
    .team-item {
        float: left;
    }
    
    section.team {
        padding: 30px 0px;
        background-image: url(../img/Path-02.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    
    .inside-text {
        position: absolute;
        background: #e43c2f91;
        height: 100%;
        text-align: center;
        padding: 20px;
        visibility: hidden;
        opacity: 0;
        transition: 0s, opacity 0.5s linear;
    }
    
    .team-item:hover .inside-text {
        visibility: visible;
        opacity: 1;
        transition: 0s, opacity 0.5s linear;
    }
    
    .inside-text p {
        color: white;
    }
    
    .team-photo {
        position: relative;
    }
    
    .team-photo img {
        width: 100%;
    }
    
    .team-name {
        background-color: #f44336;
        padding: 10px;
    }
    
    .team-name h4 {
        font-size: 20px;
        font-weight: 600;
        color: white;
    }
    
    .team-name p {
        color: white;
        margin: 0;
    }
    /*---------------------
  Blog Details
-----------------------*/
    
    .blog-details {
        padding-top: 72px;
        padding-bottom: 80px;
    }
    
    .blog-details-inner .blog-detail-title {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .blog-details-inner .blog-detail-title h2 {
        color: #252525;
        font-weight: 600;
        margin-bottom: 15px;
    }
    
    .blog-details-inner .blog-detail-title p {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #e7ab3c;
        letter-spacing: 2px;
        line-height: 20px;
        display: inline-block;
        position: relative;
    }
    
    .blog-details-inner .blog-detail-title p:before {
        position: absolute;
        left: -175px;
        top: 8px;
        height: 1px;
        width: 125px;
        background: #ebebeb;
        content: "";
    }
    
    .blog-details-inner .blog-detail-title p:after {
        position: absolute;
        right: -175px;
        top: 7px;
        height: 1px;
        width: 125px;
        background: #ebebeb;
        content: "";
    }
    
    .blog-details-inner .blog-detail-title p span {
        color: #b2b2b2;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0;
    }
    
    .blog-details-inner .blog-large-pic img {
        min-width: 100%;
    }
    
    .blog-details-inner .blog-detail-desc {
        margin-top: 22px;
        margin-bottom: 32px;
    }
    
    .blog-details-inner .blog-detail-desc p {
        font-size: 18px;
        line-height: 30px;
    }
    
    .blog-details-inner .blog-detail-desc p:first-of-type:first-letter {
        float: left;
        font-size: 60px;
        text-transform: uppercase;
        color: #252525;
        margin-top: 14px;
        margin-right: 10px;
    }
    
    .blog-details-inner .blog-quote {
        margin-bottom: 65px;
    }
    
    .blog-details-inner .blog-quote p {
        position: relative;
        color: #252525;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        padding-left: 32px;
    }
    
    .blog-details-inner .blog-quote p span {
        color: #161715;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .blog-details-inner .blog-quote p:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 88px;
        width: 3px;
        background: #e7ab3c;
        content: "";
    }
    
    .blog-details-inner .blog-more {
        margin-bottom: 32px;
    }
    
    .blog-details-inner .blog-more img {
        min-width: 100%;
    }
    
    .blog-details-inner p {
        font-size: 18px;
        line-height: 30px;
    }
    
    .blog-details-inner .tag-share {
        overflow: hidden;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 54px;
        margin-top: 46px;
    }
    
    .blog-details-inner .tag-share .details-tag {
        float: left;
    }
    
    .blog-details-inner .tag-share .details-tag ul li {
        list-style: none;
        display: inline-block;
        color: #171717;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        margin-right: 16px;
    }
    
    .blog-details-inner .tag-share .details-tag ul li i {
        font-size: 18px;
        color: #e7ab3c;
    }
    
    .blog-details-inner .tag-share .blog-share {
        float: right;
    }
    
    .blog-details-inner .tag-share .blog-share .social-links {
        display: inline-block;
    }
    
    .blog-details-inner .tag-share .blog-share .social-links a {
        display: inline-block;
        color: #171717;
        margin-left: 25px;
    }
    
    .blog-details-inner .tag-share .blog-share span {
        font-size: 16px;
        color: #2d292f;
    }
    
    .blog-details-inner .blog-post {
        padding-top: 72px;
        margin-bottom: 58px;
    }
    
    .blog-details-inner .blog-post .prev-blog {
        display: block;
    }
    
    .blog-details-inner .blog-post .prev-blog .pb-pic {
        float: left;
        position: relative;
        margin-top: 7px;
    }
    
    .blog-details-inner .blog-post .prev-blog .pb-pic i {
        position: absolute;
        left: -32px;
        top: 35%;
        font-size: 18px;
        color: #b2b2b2;
    }
    
    .blog-details-inner .blog-post .prev-blog .pb-pic img {
        height: 70px;
        width: 70px;
    }
    
    .blog-details-inner .blog-post .prev-blog .pb-text {
        display: table;
        padding-left: 20px;
    }
    
    .blog-details-inner .blog-post .prev-blog .pb-text span {
        font-size: 14px;
        color: #b2b2b2;
        letter-spacing: 2px;
    }
    
    .blog-details-inner .blog-post .prev-blog .pb-text h5 {
        font-size: 20px;
        color: #252525;
        line-height: 26px;
        font-weight: 600;
        margin-top: 10px;
    }
    
    .blog-details-inner .blog-post .next-blog {
        display: block;
    }
    
    .blog-details-inner .blog-post .next-blog .nb-pic {
        float: right;
        position: relative;
        margin-top: 7px;
    }
    
    .blog-details-inner .blog-post .next-blog .nb-pic i {
        position: absolute;
        right: -28px;
        top: 35%;
        font-size: 18px;
        color: #b2b2b2;
    }
    
    .blog-details-inner .blog-post .next-blog .nb-pic img {
        height: 70px;
        width: 70px;
    }
    
    .blog-details-inner .blog-post .next-blog .nb-text {
        display: table;
        padding-right: 20px;
        text-align: right;
    }
    
    .blog-details-inner .blog-post .next-blog .nb-text span {
        font-size: 14px;
        color: #b2b2b2;
        letter-spacing: 2px;
    }
    
    .blog-details-inner .blog-post .next-blog .nb-text h5 {
        font-size: 20px;
        color: #252525;
        line-height: 26px;
        font-weight: 600;
        margin-top: 10px;
    }
    
    .blog-details-inner .posted-by {
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding: 40px 65px;
    }
    
    .blog-details-inner .posted-by .pb-pic {
        float: left;
    }
    
    .blog-details-inner .posted-by .pb-text {
        padding-left: 22px;
        display: table;
    }
    
    .blog-details-inner .posted-by .pb-text a {
        display: block;
    }
    
    .blog-details-inner .posted-by .pb-text a h5 {
        color: #252525;
        font-weight: 600;
        margin-bottom: 13px;
    }
    
    .blog-details-inner .posted-by .pb-text p {
        line-height: 30px;
        margin-bottom: 0;
    }
    
    .blog-details-inner .leave-comment {
        padding-top: 55px;
    }
    
    .blog-details-inner .leave-comment h4 {
        color: #292f3b;
        font-weight: 600;
        margin-bottom: 35px;
    }
    
    .blog-details-inner .leave-comment .comment-form input {
        width: 100%;
        font-size: 16px;
        color: #636363;
        height: 50px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding-left: 20px;
        margin-bottom: 30px;
    }
    
    .blog-details-inner .leave-comment .comment-form textarea {
        width: 100%;
        resize: none;
        font-size: 16px;
        color: #636363;
        height: 116px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding-left: 20px;
        padding-top: 10px;
        margin-bottom: 45px;
    }
    /*---------------------
  Map
-----------------------*/
    /*---------------------
  Contact Section
-----------------------*/
    
    .contact-section {
        padding-top: 75px;
        padding-bottom: 80px;
    }
    
    .contact-title {
        margin-bottom: 30px;
    }
    
    .contact-title h4 {
        color: #252525;
        font-weight: 600;
        margin-bottom: 16px;
    }
    
    .contact-widget .cw-item {
        background: #ffffff;
        margin-bottom: 11px;
        -webkit-box-shadow: 0px 8px 35px 10px #E8E8E8;
        box-shadow: 0px 8px 35px 10px #E8E8E8;
        padding-left: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
    }
    
    .contact-widget .cw-item .ci-icon {
        float: left;
        margin-top: 12px;
    }
    
    .contact-widget .cw-item .ci-icon i {
        font-size: 30px;
        color: #b2b2b2;
    }
    
    .contact-widget .cw-item .ci-text {
        display: table;
        padding-left: 30px;
    }
    
    .contact-widget .cw-item .ci-text span {
        color: #b2b2b2;
        font-size: 16px;
    }
    
    .contact-widget .cw-item .ci-text p {
        font-size: 18px;
        color: #252525;
        margin-bottom: 0;
    }
    
    .contact-form .leave-comment h4 {
        color: #292f3b;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .contact-form .leave-comment p {
        margin-bottom: 38px;
    }
    
    .contact-form .leave-comment .comment-form input {
        width: 100%;
        font-size: 16px;
        color: #636363;
        height: 50px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding-left: 20px;
        margin-bottom: 30px;
    }
    
    .contact-form .leave-comment .comment-form textarea {
        width: 100%;
        resize: none;
        font-size: 16px;
        color: #636363;
        height: 150px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding-left: 20px;
        padding-top: 10px;
        margin-bottom: 35px;
    }
    
    .contact-form .leave-comment .comment-form .site-btn {
        padding: 13px 35px 11px;
    }
    /*---------------------
  Faq Section
-----------------------*/
    
    .faq-section {
        padding-top: 80px;
        padding-bottom: 54px;
    }
    
    .faq-accordin .card {
        border: none;
        margin-bottom: 22px;
    }
    
    .faq-accordin .card .card-heading {
        font-size: 22px;
        color: #252525;
        font-weight: 600;
        cursor: pointer;
    }
    
    .faq-accordin .card .card-heading a {
        padding-left: 42px;
        display: block;
    }
    
    .faq-accordin .card .card-body {
        padding: 0;
        padding-top: 13px;
        padding-bottom: 10px;
    }
    
    .faq-accordin .card .card-body p {
        margin-bottom: 0;
    }
    
    .faq-accordin .card-heading a:after,
    .faq-accordin .card-heading>a.active[aria-expanded=false]:after {
        content: "\f0da";
        font-family: "Font Awesome 5 Free";
        font-size: 14px;
        color: #404040;
        height: 25px;
        width: 25px;
        text-align: center;
        line-height: 25px;
        background: #EFEFF0;
        margin-top: 3px;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .faq-accordin .card-heading a[aria-expanded=true]:after,
    .faq-accordin .card-heading>a.active:after {
        content: "\f0da";
        font-family: "Font Awesome 5 Free";
        float: left;
        font-size: 13px;
        color: #ffffff;
        background: #F44336;
    }
    /*---------------------
  Register Form
-----------------------*/
    
    .register-login-section {
        padding-top: 72px;
        padding-bottom: 80px;
    }
    
    .register-form h2,
    .login-form h2 {
        color: #252525;
        font-weight: 600;
        text-align: center;
        margin-bottom: 35px;
    }
    
    .register-form form .group-input,
    .login-form form .group-input {
        margin-bottom: 25px;
    }
    
    .register-form form .group-input label,
    .login-form form .group-input label {
        display: block;
        font-size: 18px;
        color: #252525;
        margin-bottom: 13px;
    }
    
    .register-form form .group-input input,
    .login-form form .group-input input {
        border: 1px solid #ebebeb;
        height: 50px;
        width: 100%;
        padding-left: 20px;
        padding-right: 15px;
    }
    
    .register-form form .register-btn,
    .register-form form .login-btn,
    .login-form form .register-btn,
    .login-form form .login-btn {
        width: 100%;
        letter-spacing: 2px;
        margin-top: 5px;
    }
    
    .register-form .switch-login,
    .login-form .switch-login {
        text-align: center;
        margin-top: 22px;
    }
    
    .register-form .switch-login .or-login,
    .login-form .switch-login .or-login {
        color: #252525;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
    }
    
    .register-form .switch-login .or-login:before,
    .login-form .switch-login .or-login:before {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: #9f9f9f;
        content: "";
    }
    
    .login-form .group-input.gi-check {
        margin-bottom: 8px;
    }
    
    .login-form .group-input .gi-more {
        overflow: hidden;
    }
    
    .login-form .group-input .gi-more label {
        position: relative;
        cursor: pointer;
        padding-left: 28px;
        font-size: 14px;
        color: #6B6B6B;
        float: left;
    }
    
    .login-form .group-input .gi-more label input {
        position: absolute;
        visibility: hidden;
    }
    
    .login-form .group-input .gi-more label input:checked~span {
        border-color: #6C6C6C;
    }
    
    .login-form .group-input .gi-more label input:checked~span:after {
        border-color: #6c6c6c;
    }
    
    .login-form .group-input .gi-more label .checkmark {
        position: absolute;
        left: 0;
        top: 4px;
        height: 13px;
        width: 13px;
        border: 1px solid #6C6C6C;
        border-radius: 2px;
    }
    
    .login-form .group-input .gi-more label .checkmark:after {
        left: 2px;
        top: -2px;
        width: 13px;
        height: 6px;
        border: solid #ffffff;
        border-width: 2px 2px 0px 0px;
        -webkit-transform: rotate(127deg);
        -ms-transform: rotate(127deg);
        transform: rotate(127deg);
    }
    
    .login-form .group-input .gi-more .forget-pass {
        float: right;
        line-height: 20px;
        margin-top: -2px;
        font-size: 14px;
        color: #6B6B6B;
    }
    /* search box */
    
    .search-container {
        width: 40%;
        display: block;
        margin: 0 auto;
        height: 45px;
    }
    
    input#search-bar {
        margin: 4px auto;
        width: 100%;
        height: 30px;
        padding: 0 20px;
        font-size: 1rem;
        border: 1px solid #e74c3c;
        outline: none;
        border-radius: 50px;
    }
    
    input#search-bar:focus {
        border: 1px solid #e74c3F;
        transition: 0.35s ease;
        color: #e74c3F;
    }
    
    input#search-bar:focus::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
    }
    
    input#search-bar:focus::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
    }
    
    input#search-bar:focus:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
    }
    
    form.search-container a i {
        position: relative;
        float: right;
        width: 50px;
        height: 50px;
        top: -27px;
        right: -22px;
        color: #e74c3c;
    }
    /* search box end */
    /* all course */
    
    section.hero-section.all-course {
        height: 50vh;
        background-image: url(../img/all-course.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* all-question */
    
    body.all-question-page {
        background: #f2f2f2;
    }
    
    .quiz-img {
        float: left;
        padding: 0;
        width: 200px;
        height: 140px;
        overflow: hidden;
        position: relative;
        margin-right: 10px;
    }
    
    .quiz-bg {
        background-color: white;
        width: 100%;
        height: fit-content;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    
    .quiz-img img {
        width: 100%;
        position: absolute;
        right: 0;
    }
    
    .quiz-detail {
        text-align: left;
        padding: 5px;
        height: 140px;
        position: relative;
        overflow: hidden;
    }
    
    .quiz-detail p {
        margin: 0;
        padding: 0;
        color: #000;
    }
    
    .quiz-detail a.quizz {
        font-size: 20px;
        font-weight: 600;
        color: #000;
        transition: .3s;
        display: block;
        padding: 10px 0px;
    }
    
    .quiz-detail a.quizz:hover {
        font-size: 20px;
        font-weight: 600;
        color: #e74c3c;
        transition: .3s;
    }
    
    .quiz-detail a {
        color: #e74c3c;
    }
    
    .quiz-detail a:hover {
        color: rgb(54, 54, 54);
    }
    
    p.level-top {
        background: #f44336;
        color: white;
        font-weight: 600;
        position: absolute;
        padding: 0px 20px;
        font-size: 12px;
        right: 0;
        top: 0;
    }
    
    p.Quizzes {
        /* float: left; */
        position: relative;
        width: -webkit-fill-available;
        left: 0px;
        display: inline-flex;
        /* right: 0; */
        padding: 0 initial;
    }
    
    p.Quizzes:after {
        position: absolute;
        content: "";
        height: 2px;
        background-color: #636363;
        width: 80%;
        margin-left: 10%;
        top: 50%;
    }
    
    .quiz {
        float: left;
    }
    
    ul.pagination.pagi-bottom li {
        padding: 5px;
        width: 50px;
        /* border: 1px solid; */
    }
    
    ul.pagination.pagi-bottom li:first-child {
        padding: 5px;
        width: auto;
        /* border: 1px solid; */
    }
    
    ul.pagination.pagi-bottom li a {
        border: 1px solid #f44336;
        color: #F44336;
        border-radius: 5px;
    }
    
    ul.pagination.pagi-bottom li:first-child a {
        border-radius: 25px 0px 0px 25px;
        transition: .3s;
    }
    
    ul.pagination.pagi-bottom li:first-child a:hover {
        border-radius: 25px 0px 0px 25px;
        transition: .3s;
    }
    
    ul.pagination.pagi-bottom li:last-child {
        padding: 5px;
        width: auto;
        /* border: 1px solid; */
    }
    
    ul.pagination.pagi-bottom li:last-child a {
        border-radius: 0px 25px 25px 0px;
        transition: .3s;
    }
    
    ul.pagination.pagi-bottom li:last-child a:hover {
        border-radius: 0px 25px 25px 0px;
        transition: .3s;
    }
    
    ul.pagination.pagi-bottom li a {
        border: 1px solid #f44336;
        color: #F44336;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        transition: .3s;
    }
    
    ul.pagination.pagi-bottom li a:hover {
        border: 1px solid #f44336;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        background: #f44336;
        transition: .3s;
    }
    
    a.read-more {
        position: absolute;
        bottom: 3px;
        right: 11px;
    }
    /* single question page */
    
    .single-quiz {
        text-align: left;
        float: left;
    }
    
    .quiz-topic h4 {
        font-size: 24px;
        font-weight: 600;
        padding: 20px 0px;
    }
    
    .quiz-img-single {
        height: 200px;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: block;
    }
    
    .quiz-img-single img {
        position: absolute;
        width: 100%;
        /* top: 31%; */
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .queation h5 {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0px;
    }
    
    .quiz-bg-single {
        background: white;
        padding: 10px;
    }
    
    .all-checkbox .form-check {
        float: left;
        margin-right: 20px;
    }
    
    .queation-single {
        background: white;
        display: grid;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    
    .queation-single h5 {
        font-size: 15px;
        font-weight: 600;
        color: #F44336;
        margin-bottom: 10px;
    }
    /* ==============radio btns============= */
    
    .qmn_quiz_radio {
        position: absolute;
        opacity: 0;
    }
    
    .qmn_quiz_radio+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }
    
    .qmn_quiz_radio+label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        border: 1px solid #F44336;
    }
    
    .qmn_quiz_radio:hover+label:before {
        background: #f35429;
    }
    
    .qmn_quiz_radio:focus+label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    
    .qmn_quiz_radio:checked+label:before {
        background: #f35429;
    }
    
    .qmn_quiz_radio:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }
    
    .qmn_quiz_radio:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }
    
    .qmn_quiz_radio:checked+label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .unstyled {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    ul.unstyled.centered li {
        float: left;
        margin-right: 20px;
    }
    
    a.primary-btn.question-submit-btn {
        width: inherit;
        text-align: center;
    }
    /*--------------------- Contact Section -----------------------*/
    
    .contact-section {
        padding-top: 75px;
        padding-bottom: 80px;
    }
    
    .contact-title {
        margin-bottom: 30px;
    }
    
    .contact-title h4 {
        color: #252525;
        font-weight: 700;
        margin-bottom: 16px;
    }
    
    .contact-widget .cw-item {
        background: #ffffff;
        margin-bottom: 11px;
        -webkit-box-shadow: 0px 8px 35px 10px #E8E8E8;
        box-shadow: 0px 8px 35px 10px #E8E8E8;
        padding-left: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
    }
    
    .contact-widget .cw-item .ci-icon {
        float: left;
        margin-top: 12px;
    }
    
    .contact-widget .cw-item .ci-icon i {
        font-size: 30px;
        color: #b2b2b2;
    }
    
    .contact-widget .cw-item .ci-text {
        display: table;
        padding-left: 30px;
    }
    
    .contact-widget .cw-item .ci-text span {
        color: #b2b2b2;
        font-size: 16px;
    }
    
    .contact-widget .cw-item .ci-text p {
        font-size: 18px;
        color: #252525;
        margin-bottom: 0;
    }
    
    .contact-form .leave-comment h4 {
        color: #292f3b;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .contact-form .leave-comment p {
        margin-bottom: 38px;
    }
    
    .contact-form .leave-comment .comment-form input {
        width: 100%;
        font-size: 16px;
        color: #636363;
        height: 50px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding-left: 20px;
        margin-bottom: 30px;
    }
    
    .contact-form .leave-comment .comment-form textarea {
        width: 100%;
        resize: none;
        font-size: 16px;
        color: #636363;
        height: 150px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding-left: 20px;
        padding-top: 10px;
        margin-bottom: 35px;
    }
    
    .contact-form .leave-comment .comment-form .site-btn {
        padding: 13px 35px 11px;
    }
    /* newsletter */
    
    .bi-text a h4 {
        padding: 10px 0px;
        font-size: 20px;
        font-weight: 600;
        transition: .3s;
    }
    
    .bi-text a h4:hover {
        padding: 10px 0px;
        font-size: 20px;
        font-weight: 600;
        color: #E74C3C;
        transition: .3s;
    }
    
    .blog-item {
        margin-bottom: 25px;
    }
    
    .bi-pic {
        height: 200px;
        position: relative;
        overflow: hidden;
    }
    
    .bi-pic img {
        position: absolute;
        width: 100%;
        width: 100%;
        /* top: 31%; */
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .news-single {
        margin-bottom: 20px;
    }
    
    .quiz-detail.link {
        height: auto;
    }
    
    .col-md-3.side-ads {
        float: left;
    }
    
    i.far.fa-hand-point-right {
        margin-right: 5px;
        color: #f44336;
    }
    
    button.search-submit {
        position: relative;
        float: right;
        width: 50px;
        height: 50px;
        top: -28px;
        right: 10px;
        color: #e74c3c;
        border: none;
        width: 20px;
        height: 20px;
        background-color: white;
    }
    
    button.search-submit span i {
        /* display: none; */
        position: absolute;
        float: right;
        width: 50px;
        height: 50px;
        top: -8px;
        right: -26px;
        color: #e74c3c;
    }
    
    span.screen-reader-text {
        position: absolute;
    }
    
    .quiz_section {
        background-color: white !important;
        padding: 10px !important;
        margin-top: 20px !important;
        border-radius: 5px !important;
    }
    
    .qmn_mc_answer_wrap {
        margin-right: 20px;
        display: contents !important;
    }
    
    input.qsm-btn.qsm-submit-btn.qmn_btn {
        width: 100%;
        background-color: #f44336;
        color: white;
        border: none;
        padding: 10px;
    }
    /* ================================check box========================================== */
    
    .qmn_quiz_radio {
        position: absolute;
        opacity: 0;
    }
    
    .qmn_quiz_radio+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }
    
    .qmn_quiz_radio+label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
    }
    
    .qmn_quiz_radio:hover+label:before {
        background: #f35429;
    }
    
    .qmn_quiz_radio:focus+label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    
    .qmn_quiz_radio:checked+label:before {
        background: #f35429;
    }
    
    .qmn_quiz_radio:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }
    
    .qmn_quiz_radio:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }
    
    .qmn_quiz_radio:checked+label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }